/* ADD YOUR STYLES HERE */
.y-axis2 path {
    display: none;
}

.container-fluid {
    border: thin solid grey;
    border-radius: 5px;
}

.row_1 {
    height: 12vh;
    background: #22223b;
}

.row_2 {
    height: 60vh;
}

.row_3 {
    height: 30vh;
}


.page-title {
    color: #F2E9E4
}

.bar {
    fill: #357EC7;
}

.bars-label {
    font: 14px sans-serif;
    fill: dimgrey;
}

.bargraph-title {
    font-weight: bold;
}

#content-2 {
    border-style: groove;
    background-color: brown;
}

#vis-2-container {
    border-style: groove;
    background-color: lightgrey;
}

.container {
    display: flex;
    flex-direction: row;
}

#categorySelector {
    border-style: groove;
    padding-left: 0.5rem;
}

#categoryValueSelector {
    border-style: groove;
}

.x-axis {
    font-weight: bold;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
}

.tooltip h3{
    text-align: left;
    font: 14px sans-serif;
    color: #dc3545;
}
.tooltip h4 {
    text-align: left;
    font: 10px sans-serif;
}